#LocationDropdownWidget .nice-select {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.capitalize {
    text-transform: capitalize;
}

.react-select__input {
    height: 100%;
}

.react-select__input input {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-46%);
    padding-left: 14px!important;
}

.react-select__single-value {
    padding-left: 14px!important;
}

.MuiAutocomplete-input.secondary{
    background-color: white;
    color: black;
    border: none;
}

.transmission-select{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}

.rc-time-picker.time-input, .rc-time-picker.time-input input {
    height: 100%;
    width: 100%;
}

.tabs-menu.main-page li a{
    background-color: #4db7fe;
    color: white;
}

.tabs-menu.main-page li a:hover, .tabs-menu.main-page .current a{
    background-color: #2f3b59;
}

.MuiAutocomplete-popper:before, .MuiAutocomplete-popper:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
  }

.MuiAutocomplete-popper:after {
    left: 45%;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}

.MuiAutocomplete-popper > div{
    border-radius: .375rem;
}

.MuiAutocomplete-popper .MuiAutocomplete-option{
    height: 3rem;
}

.MuiAutocomplete-popper .MuiAutocomplete-option:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.3);
}


.m-b-0{
    margin-bottom: 0!important;
}

.icon.icon--car.icon--doors::before {
    left: 0;
    margin-left: 0;
    width: 16px;
    height: 16px;
    display: block;
    content: '';
    color: #004767;
    background: url('/images/icons/car-icons-v5.svg') no-repeat 0 0;
        background-position-x: 0px;
        background-position-y: -32px;
        background-size: auto;
    background-size: 16px 384px;
}
.icon.icon--car.icon--transmission::before {
    left: 0;
    margin-left: 0;
    width: 16px;
    height: 16px;
    display: block;
    content: '';
    color: #004767;
    background: url('/images/icons/car-icons-v5.svg') no-repeat 0 0;
        background-position-x: 0px;
        background-position-y: -48px;
        background-size: auto;
    background-size: 16px 384px;
}

.TimeInput.MuiInputBase-root{
    height: 100%;
}

.TimeInput .MuiInputBase-input{
    font-size: 0.8rem;
}

.gray-text{
    color: gray!important
}

.gray-background {
    background-color: #f9f9f9!important
}


#book-now-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 0.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.3rem;
    border: 1px solid #2d6898;
    background-color: #0a5bb6;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #084992;
    -moz-box-shadow: 0px 6px 0px #084992;
    border-bottom: 0px 6px 0px #084992;
    margin-bottom: 0.5rem;
}

.scroll-nav.sort li a{
    padding: 12px 15px;
}

.location-dropdown input{
    font-size: 1rem;
}

.TimeInput div[role="button"]{
    font-size: 1rem;
}

.filter-tags label, .custom-form .filter-tags label, .filters-panel p, .filters-panel h4{
    color: black;
    font-weight: unset;
    font-size: 90%;
}

.filter-tags input:checked::after, .custom-form .filter-tags input:checked::after{
    position: unset
}

.loginPopover {
    z-index: 12;
}