#LocationDropdownWidget .nice-select {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.capitalize {
    text-transform: capitalize;
}

.react-select__input {
    height: 100%;
}

.react-select__input input {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-46%);
    padding-left: 14px!important;
}

.react-select__single-value {
    padding-left: 14px!important;
}

.MuiAutocomplete-input.secondary{
    background-color: #4db7fe;
    color: white;
    border: none;
}